<div class="container-grid-css my-4 text-left pa-4">
    <div class="mb-4 d-flex align-center justify-space-between">
        <div class="d-flex align-center">
            <v-avatar size="40">
                <img src="https://66.media.tumblr.com/avatar_195f890be964_128.pnj" alt="John">
            </v-avatar>
            <div>
                <div class="subtitle-1 text-capitalize font-weight-bold light-blue--text text--darken-3 ml-2">Ken Truong</div>
                <div class="caption text-capitalize font-weight-bold ml-2">Được tài trợ <i class="fas fa-globe-asia"></i></div>
            </div>
        </div>
        <div class="text-center">
            <v-menu offset-y left bottom>
                <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">
                        <i class="cu-p fas fa-ellipsis-h"></i>
                    </v-btn>
                </template>
                <v-list>
                    <v-list-item v-for="(item, index) in items" :key="index" @click="">
                        <v-list-item-title class="text-left d-flex align-center">
                            <span class="material-icons mr-2">{{ item.icon }}</span><span>{{ item.title }}</span>
                        </v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>
        </div>
    </div>
    <p>Giới thiệu về kĩ thuật CSS Grid dàn Layouts</p>
    <v-btn outlined color="primary" dark @click="show = true" class="text-capitalize" v-if="show == false"><i class="far fa-eye mr-1"></i> Show Demo</v-btn>
    <v-btn outlined color="primary" dark @click="show = false" class="text-capitalize" v-else><i class="far fa-eye-slash mr-1"></i> Hide Demo</v-btn>
    <v-img src="https://images.viblo.asia/74913ae5-58b9-4253-80a7-9c021a22ec1a.png" aspect-ratio="1.7" class="mt-4 img-content"></v-img>
    <div v-if="show == true" class="mt-4">
        <div class="content">
            <div class="pa-8 text-center" v-for="(i, index) in 10">{{ index+1 }}</div>
        </div>
    </div>
</div>